.card.transparent {
  background-color: rgb(106 100 100 / 40%);
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.start-playback {
  cursor: pointer;
}

.icon-hover:hover {
  opacity: 0.8;
}
